@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black-300;
}

.elemento:hover {
  transition: 0.7s;
  filter: drop-shadow(0px 4px 20px #8726f8);
}
.boxHeader {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff99;
}

/* Utilizando Tailwind */
.scrollbar-w-2::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-track-gray-200::-webkit-scrollbar-track {
  background-color: #000000;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
  background-color: #000000;
}
