@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black-300;
}

.btn-primary {
  @apply rounded px-[18px] py-[10px] font-normal  text-sm text-white-500 flex items-center gap-4 w-auto justify-center bg-purple-500;
}
.btn-secondary {
  @apply bg-black-200  rounded px-3 py-3 font-bold w-auto h-auto hover:bg-purple-500;
}
.border-card {
  @apply w-[280px] h-[300px] bg-gradient-to-b from-green-500 via-blue-500  via-purple-600 to-pink-200 px-1 py-1 rounded-[46px];
}
.card {
  @apply w-full h-full bg-black-200 rounded-[46px] px-3 py-6;
}
.imagem-de-fundo {
  background-image: url("/fundo.svg");
  background-repeat: no-repeat;
}
.gradient {
  background: linear-gradient(
    131.7deg,
    #57e5a9 10.44%,
    #02a8ce 26.17%,
    #8257e5 85.9%,
    #dcc4e0 95.98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elemento:hover {
  transition: 0.7s;
  filter: drop-shadow(0px 4px 20px #8726f8);
}
.boxHeader {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff99;
}

/* Utilizando Tailwind */
.scrollbar-w-2::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-track-gray-200::-webkit-scrollbar-track {
  background-color: #000000;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
  background-color: #000000;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hand-wave {
  display: inline-block;
}

.animate-waving {
  animation: waving 1.5s ease-in-out infinite;
}
