@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: #ffffff;
  min-height: 100vh;
  color: #232323;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 0.9;
  p {
    margin: 0;
  }
}
